# The configuration file for nav_automation worker.py.
#

[email]

# the mail server address
server=192.168.16.185

# the mail sender
sender=itsupport@clamc.com.hk

# smtp timeout in seconds
timeout=60

# Notification email recipients
notificationMailRecipients=steven.zhang@clamc.com.hk



[data]

# directory for short term bond fund pricing files
directory=C:\temp\repo_files



[sftp]

timeout=60

winscpPath=C:\Program Files (x86)\WinSCP\WinSCP.exe

server=sftp.clamc.com.hk

username=svc_sftp

password=CEcY26
